@font-face {
    font-family: Homestuck;
    src: url(assets/TYPOSTUCK\ \(Slightly\ better\ classic\ Homestuck\ font\)\(1\).ttf);
}

* {
    margin: 0;
    padding: 0;
}

button, input[type=submit] {
    all: unset;
    cursor: pointer;
    font-family: "inter", sans-serif;
    font-weight: 500;
    transition: 0.1s;
}

button:hover, input[type=submit]:hover {
    color: greenyellow;
}

body {
    background-color: #808080;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    flex-direction: column;
    align-items: center;
    min-width: 70vw;
    max-width: 70vw;
    min-height: 100vh;
    background-color: #ffffff;
    display: flex;
    overflow: hidden;
}

.ico {
    min-width: inherit;
    min-height: 20vw;
    anchor-name: --ico;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh;
    overflow: hidden;
}

.wrap-ico {
    width: 80%; 
    aspect-ratio: 1; 
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap-ico img {
    position: absolute;
    position-anchor: --form;
    position-area: center center;
    animation: circ 60s linear infinite;
    width: 100%; 
    height: 100%;
    object-fit: contain;
    transform-origin: center;
    z-index: 0;
    box-sizing: border-box;
}

@keyframes circ {
    0% {rotate: 0deg;}
    100% {rotate: 360deg;}
}

.form {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    anchor-name: --form;
    position-anchor: --ico;
    position-area: start end;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    max-width: 40%;
    box-shadow: 0px 7px 3px rgba(0, 0, 0, 0.25);
}

#title {
    font-family: Homestuck;
    font-size: clamp(2rem,5vw,7rem);
}

.inputbox {
    font-size: 1.5vw;
    padding: 2vw;
    margin: 1vh;
    display: flex;
    justify-content: space-around;
    gap: 2.5vh;
    flex-direction: column;
    text-align: center;
}

#s {
    margin-top: 1.5vh;
    font-size: 2vw;
    margin-left: auto;
}

.info {
    min-width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.2s;
    margin: auto;
    gap: 1vh;
}
