* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    user-select: none;
}

body, html {
    height: 100%;
}

body {
    background-image: url(https://wallpapercave.com/wp/jo03lI2.jpg);
    background-size: 120%;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.window {
    position: absolute;
    background-color: #3c415370;
    backdrop-filter: blur(3px);
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.452), 0px 0px 2px 1px white inset;
    border: 1px solid black;
    border-radius: 7px;
    display: flex;
    padding: .8%;
    flex-direction: column;
    overflow: hidden;

    .title {
        position: relative;
        display: flex;
        align-items: center;
        height: 8%;
        margin-bottom: 2%;
        .wicon {
            object-fit: contain;
            height: 80%;
        }
        p {
            margin-left: 1%;
            filter: drop-shadow(0px 0px 5px white);
            font-size: 90%;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
        }

    }

    .innerwindow {
        position: relative;
        overflow: hidden;
        border: 1px solid black;
        box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.541);
        border-radius: 4px;
        background-color: white;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    #diary {
        .btnarray {
            padding: 2%;
            display: flex;
            font-family: Arial, Helvetica, sans-serif;
            width: 100%;
            height: 10%;
            background: linear-gradient(to bottom, white 0%, rgb(156, 156, 156) 80%, rgb(199, 199, 199) 100%);
            border-bottom: 1px solid gray;
            align-items: center;
            
            * {
                font-size: 1vw;
                margin-right: 4%;
            }
            div::first-letter {
                text-decoration: underline;
            }

            img {
                cursor: pointer;
                margin-left: auto;
                filter: drop-shadow(0px 0px 5px black);
                height: 100%;
                object-fit: contain;
            }

        }

        .content {
            padding: 2%;
            overflow-y: scroll;
            width: 100%;
            height: 100%;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    }

}

.ui {
    border: 3px solid black;
    background-image: url(https://wallpapercave.com/wp/PfgUkZM.png);
    background-size: contain;
    background-position: center;
    aspect-ratio: 16/10;
    width: 65%;
    display: flex;
    box-shadow: 0px 0px 8px 3px rgba(255, 255, 255, 0.452);
    position: relative;

    .fileicon {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 7%;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        cursor: pointer;
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        img {
            object-fit: contain;
            width: 100%;
        }
        p {
            filter: drop-shadow(0px 0px 3px rgb(255, 255, 255));
            font-size: small;
            line-break: anywhere;
        }
    }

    .hotbar {
        width: 100%;
        border-top: 1px solid rgb(51, 51, 51);
        height: 8%;
        margin-top: auto;
        backdrop-filter: blur(3px);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.459) 0%,rgba(255, 255, 255, 0.459) 10%, rgba(255, 255, 255, 0.295) 20%, rgba(0,0,0,0) 80%);
        display: flex;
        align-items: center;

        .os {
            height: 80%;
            object-fit: contain;
            margin: 0% 1.5% 0% 1.5%;
        }

        .icon {
            margin-right: 1%;
            background: linear-gradient(130deg, rgba(255, 255, 255, 0.5) 0%, rgba(0,0,0,0) 40%), linear-gradient(310deg, rgba(255, 255, 255, 0.5) 0%, rgba(0,0,0,0) 40%);
            box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.726) inset;
            aspect-ratio: 1.5/1;
            border: .5px solid rgb(51, 51, 51);
            border-radius: 3px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: .6%;
            transition: .1s;
            #midas {
                height: 120%;
            }
            img {
                filter: drop-shadow(0px 0px 3px black);
                height: 100%;
                object-fit: contain;
            }
        }

        .icon:hover {
            background-color: rgba(238, 238, 238, 0.13);
        }

        .icon:active {
            background-color: rgba(0, 0, 0, 0.199);
        }

        .info {
            width: 19%;
            height: 100%;
            display: flex;
            margin-left: auto;
            margin-right: 1%;
            align-items: center;
            color: white;
            justify-content: space-evenly;
            align-items: center;
            .infoicons, .datentime{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }
            .infoicons {
                * {
                    font-size: 1.7vw;
                }
                #js {
                    font-size: 4vw;
                }
            }
            .datentime {
                margin-left: auto;
                flex-direction: column;
                font-family: Arial, Helvetica, sans-serif;
                font-size: .9vw;
            }
        }

        .home {
            width: 2%;
            border-left: 1px solid rgb(51, 51, 51);
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0.438) 0%, rgba(0,0,0,0) 40%);
            height: 100%;
            box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.534) inset;
        }

        .home:hover {
            background-color: rgba(238, 238, 238, 0.13);
        }

        .home:active {
            background-color: rgba(0, 0, 0, 0.199);
        }

    }

}
