:root {
    --cursor: url(assets/SBurb_Select.cur), auto
}

@font-face {
    font-family: Homestuck;
    src: url(assets/TYPOSTUCK\ \(Slightly\ better\ classic\ Homestuck\ font\)\(1\).ttf);
}

* {
    margin: 0;
    padding: 0;
    cursor: var(--cursor);
    user-select: none;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.makeagif.com/media/4-05-2016/utmjeB.gif);
    background-repeat: no-repeat repeat;
    background-position: center;
    background-size: 100%;
}

.desktop {
    border: calc(var(--vw)/100) solid black;
    background-color: white;
    height: calc(var(--vh));
    width: calc(var(--vw));
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: auto;
}

.body {
    background-color: rgb(119, 126, 21);
    height: calc(var(--vh)/1.3);
    background-image: url(https://images7.alphacoders.com/324/thumb-350-324431.webp);
    background-blend-mode:multiply;
    background-size: 100%;
    background-position: center;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
}

.uph {
    height: calc(var(--vh)/10);
    background: linear-gradient(to bottom,rgb(175, 175, 175),rgb(90, 90, 90));
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 20px rgb(211, 211, 211) inset;
    border-bottom: calc(var(--vw)/200) solid rgb(110, 110, 110);
    :last-child {
        margin-right: calc(var(--vw)/100);
    }    
    :first-child {
        margin-left: calc(var(--vw)/100);
    }
    .btry {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(var(--vw)/8);
        color: white;
        h1 {
            font-size: calc(var(--vw)/40);
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}

.header {
    height: calc(var(--vw)/8);
    width: 100%;
    border-top: calc(var(--vw)/200) solid rgb(110, 110, 110);
    background: linear-gradient(to bottom,rgb(175, 175, 175),rgb(90, 90, 90));
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 20px rgb(211, 211, 211) inset;
}

.header img {
    object-fit: contain;
}

#os {
    width: calc(var(--vw)/20);
    margin-left: calc(var(--vw)/50);
}

.icon-array {
    box-shadow: 0px 0px 10px rgb(211, 211, 211) inset;
    border: calc(var(--vw)/400) solid rgb(112, 112, 112);
    border-radius: calc(var(--vw)/100);
    padding: calc(var(--vw)/150);
    display: flex;
    gap: calc(var(--vw)/50);
}

.icon-array img {
    width: calc(var(--vw)/20);
}

.hora {
    border-left: calc(var(--vw)/200) solid rgb(112, 112, 112);
    box-shadow: 0px 0px 5px rgb(211, 211, 211) inset;
    width: calc(var(--vw)/8);
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hora {
    display: flex;
    flex-direction: column;
    gap: calc(var(--vw)/200);
    padding-right: calc(var(--vw)/100);
}

#hora, #dia {
    margin-left: calc(var(--vw)/100);
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(var(--vw)/50);
}

.body a {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Homestuck;
    overflow-wrap: anywhere;
    max-width: calc(var(--vw)/7);
    text-decoration: none;
    margin: calc(var(--vw)/70);

    &:hover {
        .ptext {
            background-color: rgba(212, 212, 212, 0.5);
            border: 2px solid rgb(231, 231, 231);
        }
    }

}

.body a img {
    height: calc(var(--vw)/15);
    width: calc(var(--vw)/7.4);
    object-fit: contain;
}

.ptext {
    text-align: center;
    padding: calc(var(--vw)/100);
    font-size: calc(var(--vw)/45);
    background-color: rgb(148, 148, 148, 0.5);
    color: white;
    border-radius: 10px;
    border: 2px solid rgb(148, 148, 148);
}
