@font-face {
  font-family: retro;
  src: url(/assets/abduction2002.ttf);
}

:root {
  --cor1: #fac300;
  --cor2: rgb(2, 0, 148);
  --cor3: rgb(0, 110, 255);
  --cor4: rgb(255, 255, 255);
  --favcolor: rgb(200, 255, 0);
} 

* {
  user-select: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.bg {
  background-image:url(https://i.namu.wiki/i/Jhco0uDH5MavH2cCYjF-WjGcyijpCUSPfFtkF7V8s_FbqCMnyO_MGej_HwzeDIEa1lQCICO1r_xzQ--D8M1_FQ.webp);
  background-position: center;
  background-size: 25%;
  image-rendering: pixelated;
  width: 200%;
  height: 200%;
  position: absolute;
  z-index: -1;
  filter: brightness(47%);
}

.main-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  aspect-ratio: 16/10;
  width: 65%;
  padding: 1%;
  background: rgba(125, 192, 223, 0.301);
  backdrop-filter: blur(5px);
  border-radius: 7px;
  box-shadow: 0px 0px 3px 1px white inset, 0px 0px 6px 3px black;

  .title {
    flex: 1;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(46, 46, 46);
    p {
      margin-top: 1%;
      margin-left: 5%;
      filter: drop-shadow(0px 0px 8px white) drop-shadow(0px 0px 8px white) drop-shadow(0px 0px 4px white) drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.527));
      font-size: 1.3vw;
    }
  }

  .in-container {
    box-shadow: 0px 0px 3px 1px white;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--cor1);
    flex: 12;
    border: 2px solid gray;
    .top-bar {
      width: 100%;
      height: 6%;
      background-color: black;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;

      .log {
        color: white;
        margin-left: .5%;
        font-size: 60%;
      }
      .bartitle {
        font-family: retro;
        color: red;
      }

      .logo {
        display: flex;
        align-items: center;
        justify-content: end;
        height: 100%;
        width: 25%;
        background-image: url(/assets/splat.png);
        background-position: left center;
        background-size: 160%;
        background-repeat: no-repeat no-repeat;
        color: black;
        img {
          object-fit: contain;
          height: 65%;
          margin: 0% 4% 0% 2%;
        }
      }

    }    

    .second-container {
      overflow: hidden;
      border-radius: 10px;
      height: 100%;
      display: flex;
      margin: 2%;
      *:not(.material-symbols-sharp) {
        font-family: 'Courier New', Courier, monospace;
      }

      .left-container {
        flex-direction: column;
        border: 3px solid var(--cor2);
        border-radius: 10px 0px 0px 10px;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2%;
        box-shadow: 0px 0px 6px 1px var(--cor2) inset, 0px 0px 3px 1px var(--cor2) inset;
        position: relative;
        z-index: 1;
        background: linear-gradient(to bottom, var(--cor2) 0%, rgba(0,0,0,0) 80%), url(https://i.pinimg.com/736x/af/93/04/af930479f4fc4d5e8882d5fc0823156d.jpg);
        background-size: 100%;

        .info {
          border-radius: 5px;
          border: 2px solid var(--cor3);
          box-shadow: 0px 0px 4px 1px var(--cor2) inset;
          padding: 1%;
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: var(--cor3);
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          .pfp {
            border: 1px solid var(--cor4);
            border-radius: 4px;
            box-shadow: 0px 0px 3px 1px var(--cor4) inset;
            background: linear-gradient(to bottom, white 0%, rgba(0,0,0,0) 40%), url(/assets/izard.png);
            background-size: 100%;
            background-position: center;
            width: 100%;
            aspect-ratio: 1/1;
          }      

          .information {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 5%;
            width: 100%;
            font-size: .9vw;
            color: var(--cor4);
            #nickname {
              font-size: .7vw;
              text-align: center;
              margin-bottom: 5%;
              font-style: italic;
            }         
            #name {
              font-size: 1vw;
              margin-bottom: 5%;
            }
            #color {
              i {
                font-style: normal;
                color: var(--favcolor);
              }
            }
            #feel {
              img {
                object-fit: contain;
                width: .9vw;
              }
            }
            #desc {
              font-style: italic;
              margin-top: auto;
            }
          }
        }

      }
      .center-container {
        flex: 3.5;
        display: flex;
        border: 1px solid black;
        height: 100%;
        flex-direction: column;
        background-color: var(--cor3);
        border: 2px solid var(--cor3);
        box-shadow: 0px 0px 4px 1px var(--cor2) inset;

        .up-div, .down-div {
          display: flex;
        }

        .up-div {
          padding: 2%;
          flex-direction: column;
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 7%;
          .audio {
            color: var(--cor4);
            width: 100%;
            display: flex;
            flex-direction: column;
            height: 100%;
            .audiodiv {
              padding: 2%;
              margin-top: auto;
              background: linear-gradient(to bottom, var(--cor3) 0%, var(--cor3) 40%, var(--cor2) 90%, var(--cor2) 100%);
              box-shadow: 0px 0px 5px 1px var(--cor3) inset, 0px 0px 3px 1px var(--cor2) inset;
              margin-top: auto;
              border: 3px solid var(--cor2);
              border-radius: 5px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              height: 40%;
              p {
                font-size: 1vw;
              }
              input {
                width: 60%;
              }
            }
          }               

          .social {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 2%;
            flex: 1;
            border: 3px solid var(--cor4);
            box-shadow: 0px 0px 5px 1px var(--cor2) inset;
            background-color: var(--cor4);
            a {
              aspect-ratio: 1/1;
              display: flex;
              width: 7%;
              svg,img {
                object-fit: contain;
                width: 100%;
                path {
                  fill: var(--cor3);
                }
              }
            }
          }

        }

        .down-div {
          overflow: hidden;
          flex: 2;
          padding: 2%;
          gap: 2%;
          div {
            background-color: var(--cor4);
            .bar {
              text-align: center;
              font-style: italic;
              color: var(--cor4);
              background-color: var(--cor2);
            }
          }
          .contact {
            display: flex;
            flex-direction: column;
            flex: 1;
            overflow: auto;
            .con {
              display: flex;
              flex-direction: column;
              height: 100%;
              max-height: 100%;
              width: 100%;
              overflow-x: hidden;
              overflow-y: auto;
              .cell:last-of-type {
                border-bottom: none;
              }
              .cell {
                padding: 6% 3% 6% 3%;
                height: fit-content;
                display: flex;
                align-items: center;
                justify-content: space-between;
                text-decoration: none;
                border-bottom: 2px dotted var(--cor3);

                .imgdiv {
                  margin-right: 6%;
                  height: fit-content;
                  width: 35%;
                  display: flex;
                  border: 2px solid var(--cor3);
                  overflow: hidden;
                  border-radius: 5px;
                  img {
                    width: 100%;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                  }
                }

                .name {
                  line-break: anywhere;
                  text-align: center;
                  flex: 1;
                  font-size: 1vw;
                }


              }
            }
          }
          .mural {
            display: flex;
            flex-direction: column;
            border-left: 2px solid var(--cor3);
            flex: 1.7;
            .commentbox {
              height: 100%; 
              background-image: url(https://cdn11.bigcommerce.com/s-3pbmh1zmv/products/3056/images/3330/556-label__16698.1739388174.386.513.png?c=1);             
              background-position: center;
              background-repeat: no-repeat no-repeat;
              background-size: 80%;
            }
          }
        }

      }

      .right-container {
        position: relative;
        flex: 2;
        height: 100%;
        border: 5px solid var(--cor2);
        box-shadow: 0px 0px 5px 2px var(--cor2) inset;
        border-radius: 0px 10px 10px 0px;
        background-color: var(--cor4);
        overflow-y: auto;
        overflow-x: hidden;
        padding: 1.5%;
        display: flex;
        flex-direction: column;
        gap: 3%;
        
        .stamps {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-around;
          gap: 1%;
          img {
            box-shadow: 0px 0px 3px 1px black;
            object-fit: contain;
            width: 30%;
            margin-top: 4%;
          }
        }

        .buttons {
          display: flex;
          align-items: center;
          justify-content: space-around;
          flex-wrap: wrap;
          img {
            margin-top: 4%;
          }
        }


        .intro {
          display: flex;
          flex-flow: row wrap;
          align-items: end;
          a {
            margin: auto;
            width: 80%
          }
          img {
            width: 100%;
            object-fit: contain;
          }
        }
      }

    }

  }

}

@keyframes slide {
  33% {
    transform: translateX(-200%);
  }
  66% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0%);
  }
}