@font-face {
    font-family: charliekirk;
    src: url(/assets/DirtyStains-DEMO.otf);
}

@font-face {
    font-family: vance;
    src: url(/assets/nu_century_gothic.ttf);
}

@font-face {
    font-family: hitler;
    src: url(/assets/Starz\ 2.ttf);
}

@font-face {
    font-family: trump;
    src: url(/assets/Leander.ttf);
}

@font-face {
    font-family: ACID;
    src: url(/assets/Acidic.TTF);
}

@font-face {
    font-family: marola;
    src: url(/assets/MAROLA__.TTF);
}

@font-face {
    font-family: blood;
    src: url(/assets/WC_Rhesus_A_Bta.otf);
}
:root {
    --cor1: rgb(193, 219, 131);
    --cor2: rgb(106, 131, 36);
    --cor3: rgb(37, 59, 7);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body, html {
    height: 100%;
}

body {
    display: flex;
}
.mdisplay {
    display: none;
}
.display {
    overflow: hidden;
    backdrop-filter: blur(6px);
    background-color: rgba(66, 196, 235, 0.123);
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 1.5px solid black;
    box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.514) inset;
    border-radius: 10px;
    height: 80%;
    width: 65%;
    aspect-ratio: 2/3;
    padding: .5%;

    .windowbut {
        margin-right: 2%;
        bottom: 2.7vh;
        position: relative;
        overflow: hidden;
        justify-content: space-evenly;
        display: flex;
        width: 15%;
        height: 7%;
        border: 1px solid black;
        margin-left: auto;
        color: white;
        border-radius: 0px 0px 10px 10px;
        box-shadow: 0px 0px 1px 2px rgba(255, 255, 255, 0.322), 0px 0px 1px 2px rgba(255, 255, 255, 0.322) inset;
        .square {
            box-shadow: 0px 0px 1px 2px rgba(255, 255, 255, 0.322), 0px 0px 1px 2px rgba(255, 255, 255, 0.322) inset;
            border-left: 1px solid black;
            border-right: 1px solid black;
        }
        div {
            width: 40%;
            height: 120%;
            font-size: 100%;
            font-weight: 1000;
            text-align:center;
            * {
                margin: auto;
                position: relative;
                top: 2vh;
            }
        }
        .square:hover, .minimize:hover {
            background-color: rgba(0, 0, 0, 0.123);
            * {
                background-color: none;
            }
        }
        .close {
            width: 50%;
        }        
        .close:hover {
            transition-duration: 3s;
            background: linear-gradient(to bottom, rgba(255, 0, 0, 0.466), rgba(139, 0, 0, 0.514));
        }
    }

    .tools {
        user-select: none;
        margin-bottom: .5%;
        display: flex;
        height: 6%;
        margin-top: auto;
        .buttons {
            background-color: rgba(80, 97, 97, 0.377);
            margin-left: .4%;
            display: flex;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 90px;
            
            div {
                opacity: 80%;
                background: linear-gradient(to bottom, white, rgba(83, 83, 83, 0.13));
                box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.322) inset;
                border-radius: 90px;
                font-size: 140%;
                margin: 3%;
                border: 1px solid rgba(0, 0, 0, 0.534);
                color: white;
                font-weight: 1000;
            }
            div:hover {
               background-color: rgba(65, 179, 224, 0.815); 
               opacity: 100%;
            }
        }            

        #out {
            color: white;
            opacity: 70%;
        }

        .title {
            img {
                margin: .5%;
                margin-right: 0px;
                height: 85%;
                object-fit: contain;
            }
            #pagetitle {
                color: rgb(58, 58, 58);
                font-family: Arial, Helvetica, sans-serif;
                font-size: 90%;
                font-weight: 200;
            }

            #down {
                margin-left: auto;
            }

            .symbol {
                height: 100%;
                width: 5%;
                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    border-left: 1px solid black;
                    color: rgb(0, 83, 160);
                    text-align: center;
                    font-size: 130%;
                }
            }
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2px;
            width: 100%;
            font-size: 100%;
            background-color: rgba(255, 255, 255, 0.733);
            border: 1px solid black;
            box-shadow: 0px 0px 1px 2px rgba(255, 255, 255, 0.322), 0px 0px 1px 2px rgba(255, 255, 255, 0.322) inset;
        }
        .search {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: .6%;
            border-radius: 2px;
            width: 30%;
            background-color: rgba(255, 255, 255, 0.733);
            border: 1px solid black;
            box-shadow: 0px 0px 1px 2px rgba(255, 255, 255, 0.322), 0px 0px 1px 2px rgba(255, 255, 255, 0.322) inset;
            font-family: Arial, Helvetica, sans-serif;
            
            * {
                font-size: 90%;
            }
            div {
                margin-right: 2%;
                font-size: 120%;
                color: rgb(0, 83, 160);
            }
            h1 {
                opacity: 50%;
                margin-left: 2%;
                font-weight: 200;
                font-style: italic;
            }
        }
    }
    .innerwindow {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.342);
        border: 1.5px solid black;
        border-radius: 2px;
        height: 85%;
        position: relative;
        
        .ibg {
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(
            131deg,
            white 0%,
            rgba(193, 219, 131, 1) 10%,
           rgba(106, 131, 36, 1) 90%,
           rgba(37, 59, 7, 1) 100%
            );
            z-index: -1;
        }

        .uside {
            display: flex;
            justify-items: center;
            align-items: center;
            box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.342) inset;
            background: linear-gradient(to bottom, rgb(74, 154, 192) 40%, rgb(27, 104, 155) 50%, rgb(14, 100, 150) 90%);
            height: 10%;
            a {
                text-decoration: none;
                height: 100%;
                cursor: pointer;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: .5%;
                img {
                    object-fit: contain;
                    width: 2vw;
                }
            }
            a:hover {
                background-color: rgba(0, 0, 0, 0.123);
            }
            .twitter, .tumblr {
                margin-right: 3%;
            }
            a:first-child {
                margin-left: 2%;
            }
            #photo {
                margin-left: auto;
                margin-right: 3%;
            }
            #info {
                margin-right: 3%;
            }
            #photo, #info {
                h1 {
                    font-weight: 300;
                    font-size: 100%;
                    margin-left: 4%;
                }
            }
        }
        .dside {
            display: flex;
            height: 60vh;
            border-top: 1px solid black;
            .lside {
                overflow: hidden;
                padding: 1%;
                width: 22%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                img {
                    object-fit: contain;
                    width: 10%;
                }
                .menu {
                    z-index: 1;
                    position: relative;
                    box-shadow: 0px 0px 5px 2px var(--cor3) inset;
                    background-color: rgb(175, 204, 108);
                    border: 3px solid var(--cor3);
                    overflow: hidden;
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    user-select: none;
                    font-family: Arial, Helvetica, sans-serif;
                    .stars {
                        bottom: -24%;
                        right: -20%;
                        rotate: 270deg;
                        font-size: 7vw;
                        position: absolute;
                        color: var(--cor3);
                        font-family: hitler;
                    }

                    .titulo, .topic {
                        width: 100%;
                    }
                    .titulo {
                        text-align: center;
                        background-color: rgb(37, 59, 7);
                        color: rgb(175, 204, 108);
                        padding-top: 4%;
                        padding-bottom: 3%;
                        font-size: .8vw;
                        font-family: charliekirk;
                        font-style: italic;
                        letter-spacing: 20%;
                    }
                    .topic {
                        cursor: pointer;
                        font-family: vance;
                        display: flex;
                        align-items: center;
                        padding: 2%;
                        color: rgb(80, 97, 48);
                        font-size: 1vw;
                        img {
                            width: 12%;
                        }
                        padding-left: 7%;
                    }
                    .topic:hover {
                        zoom: 110%;
                    }
                    #dark {
                        color: var(--cor1);
                        background: linear-gradient(to right, rgba(37, 59, 7, 0.6) 0%, rgba(0,0,0,0) 100%);
                    }
                    .topic:hover {
                        color: rgb(23, 37, 2);
                    }
                    #dark:hover {
                        color: rgb(223, 255, 80);
                    }
                    .topic:active {
                        color: #131d00;
                    }
                    #dark:active {
                        color: rgb(161, 219, 0);
                    }
                }
                .calc {
                    background-image: url(/assets/7368.png);
                    background-position: center;
                    background-size: contain;
                    rotate: -3deg;
                    color: rgb(51, 51, 51);
                    font-family: Arial, Helvetica, sans-serif;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: column;
                    aspect-ratio: 2/2;
                    overflow: hidden;
                    z-index: 0;
                    padding: 13%;
                    .values, .total {
                        margin: 3%;
                        rotate: 3deg;
                        * {
                            rotate: 0;
                        }
                    }
                    .values::-webkit-scrollbar {
                        display: none;
                    }
                    .values {
                        scrollbar-width: none;
                        display: none;
                        flex-direction: column;
                        align-items: center;
                        border-radius: inherit;
                        overflow: scroll;
                        overflow-x: hidden;
                        padding: 3%;
                        height: 50%;
                        width: 90%;
                        .calccell {
                            color: var(--cor1);
                            width: 100%;
                            display: flex;
                            font-size: .5vw;
                            text-align: end;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 5%;
                            border-bottom: 1px solid var(--cor1);
                            p {
                                font-size: 1vw;
                            }
                            h1 {
                                max-width: 70%;
                                line-break: anywhere;
                            }
                        }
                    }
                    .total {
                        font-family: trump;
                        text-align: center;
                        margin: auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: var(--cor1);
                        font-size: 1vw;
                        padding: 4%;
                    }
                }
            }
            .rside {
                position: relative;
                overflow-y: auto;
                display: flex;
                flex-direction: column;
                box-shadow: -3px 0 3px -3px rgb(37, 59, 7);
                width: 100%;
                gap: 5%;
                * {
                    z-index: 1;
                }
                .title {
                    color: var(--cor3);
                    width: 100%;
                    text-align: center;
                    font-size: 6vw;
                    font-family: ACID;
                    padding-top: 3%;
                    filter: drop-shadow(0px 0px 5px var(--cor1));
                }
                .pattern {
                    position: absolute;
                    object-fit: contain;
                    width: 100%;
                    z-index: 0;
                }
                .subtitle {
                    padding: 1%;
                    padding-right: 0%;
                    font-family: marola;
                    background: var(--cor3);
                    h1 {
                        position: relative;
                        overflow: hidden;
                        width: 100%;
                        background: linear-gradient(to left, var(--cor2) 0%, rgba(0,0,0,0) 100%);
                        font-weight: 300;
                        color: var(--cor1);
                        i {
                            padding-left: 2%;
                            padding-right: 2%;
                            font-style: normal;
                            font-family: hitler;
                        }
                        b {
                            font-size: 8vw;
                            color: var(--cor3);
                            top: -70%;
                            right: 30px;
                            position: absolute;
                            font-family: blood;
                        }
                    }
                }
                .block {
                    padding: 1%;
                    margin: auto;
                    width: 90%; 
                    border-radius: 3px;
                    .innertitle {
                        rotate: 1deg;
                        display: flex;                    
                        margin-right: auto;
                        align-items: center;
                        margin-bottom: 2%;      
                        background-image: url(/assets/10085.png);      
                        background-size: contain; 
                        padding: 5%; 
                        background-repeat: no-repeat no-repeat;
                        image-rendering:pixelated;
                        h1 {
                            color: var(--cor1);
                            margin-left: 15%;
                            font-size: 120%;
                            font-family: charliekirk;
                            font-weight: 600;
                        }                  
                    }
                    .content {
                        filter: drop-shadow(2px 2px 5px var(--cor3));
                        border-radius: 2px;
                        margin: 1% auto 1% auto;
                        width: 99%;
                        border: 5px solid var(--cor3);
                        background-color: var(--cor1);
                        padding: 3%;
                        box-shadow: 0px 0px 3px 1px var(--cor3) inset, 0px 0px 4px 1px var(--cor3);
                        ul {
                            li {
                                font-family:vance;
                                color: var(--cor3);
                                display: flex;
                                align-items: center;
                                h1 {
                                    font-size: 100%;
                                    font-weight: 400;
                                }
                            }
                        }
                        #pix {
                            margin: auto;
                            img {
                                margin-left: 2%;
                                width: 5%;
                                object-fit: contain;
                            }
                        }
                    }     
                }

                .tip {
                    margin: auto;
                    font-size: 1.3vw;
                    width: 80%;
                    text-align: center;
                    color: var(--cor1);
                    text-decoration:underline;
                    font-style: italic;
                    font-family: vance;
                    text-shadow: 1px 1px 0px var(--cor2);
                }

                .opwidget {
                    .typeseparator {
                        width: fit-content;
                        padding: 1% 3% 1% 3%;
                        margin: auto;
                        justify-content: space-evenly;
                        display: flex;
                        align-items: center;
                        font-family: ACID;
                        font-size: 2vw;
                        color: var(--cor3);
                        width: 60%;
                        align-items: center;
                        i {
                            font-size: 4vw;
                            font-family: hitler;
                            font-style: normal;
                        }
                    }
                    .arrayoptions {
                        padding: 2%;
                        display: flex;
                        border: 5px solid var(--cor3);
                        box-shadow: 0px 0px 10px 2px var(--cor3) inset;
                        margin: 3%;
                        justify-content: center;
                        align-items: center;
                        background: var(--cor2);
                        background-image: url(/assets/subtitlebg.png);
                        background-size: contain;
                        .img {
                            cursor: pointer;
                            height: 100%;
                            width: 40%;
                            aspect-ratio: 1.6/3;
                            display: flex;
                            flex-direction: column;
                            img {
                                box-shadow: 0px 0px 7px 1px var(--cor1);
                                border: 4px solid var(--cor3);
                                width: 100%;
                                height: 100%;
                                object-fit: cover;

                            }
                            #gus {
                                object-position: 0% 80%;
                            }
                            #alice {
                                object-position: 30% 100%;
                            }
                            #ref {
                                object-position: 0% 100%;
                            }
                        }
                        #icons {
                            overflow:visible;
                            padding: 1%;
                            img {
                                filter: drop-shadow(0px 0px 6px var(--cor3));
                                box-shadow: none;
                                border: none;
                                height: auto;
                                object-fit: contain;
                            }
                        }
                        .option {
                            margin: 2%;
                            border: 5px solid var(--cor3);
                            box-shadow: 0px 0px 7px 1px var(--cor3) inset, 0px 0px 7px 1px var(--cor1);
                            background-color: var(--cor1);
                            width: 100%;
                            padding: 3%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            align-items: center;
                            color: var(--cor3);
                            .cell {
                                width: 100%;
                                display: flex;
                                justify-content: space-evenly;
                                align-items: center;
                                .typetxt {
                                    display: flex;
                                    flex-direction: column;
                                    font-family: marola;
                                    * {
                                        color: var(--cor2);
                                        font-family: vance;
                                    }
                                }
                                .input {
                                    height: 100%;
                                    margin: auto;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    flex-direction: column;
                                    div {
                                        font-size: 3vw;
                                    }
                                }
                                .pricenumber, .delete {
                                    text-transform: uppercase;
                                    font-size: 3vw;
                                }

                                .delete {
                                    color: var(--cor2);
                                    aspect-ratio: 1/1;
                                    font-family: monospace;
                                    margin-left: 3%;
                                    font-size: 2vw;
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}
.bg {
    z-index: -1;
    position: fixed;
    background-image: url(https://i.redd.it/1lu31x1angtb1.jpg);
    min-height: 100%;
    min-width: 100%;
    background-size: 100%;
}

.canva {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
    img {
        margin: auto;
        height: 80%;
        width: 80%;
        object-fit: contain;
        animation: imgappear .4s ease-out 1 forwards;
    }
}

@media screen and (max-width: 600px) {
    * {
        font-family: Arial, Helvetica, sans-serif;
    }
    body {
        background-color: rgb(219, 219, 219);
    }
    .display {
        display: none;
    }
    .mdisplay {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .scrollable::-webkit-scrollbar {
            display: none;
        }
        .scrollable {
            scrollbar-width: none;
            margin: 0px auto 0px auto;
            width: 93%;
            overflow-y: auto;
            .profile {
                background-color: white;
                padding: 3%;
                margin: auto;
                margin-top: 4%;
                display: flex;
                .pfp {
                    display: flex;
                    flex-direction: column;
                    width: 15%;
                }
                a {
                    img {
                        object-fit: contain;
                        width: 100%;
                    }                    
                }
                .content {
                    margin-left: 2.5%;
                    font-family: Arial, Helvetica, sans-serif;
                    h1 {
                        font-size: 5.5vw;
                    }
                    p {
                        font-size: 3vw;
                        color: gray;
                    }
                }
            }
            .window {
                padding: 3%;
                background-color: white;
                display: flex;
                flex-direction: column;
                margin: 0px auto 0px auto;
                .windowtitle {
                    padding: 1%;
                    .icon {
                        margin-left: 2%;
                        font-size: 6vw;
                    }
                    .collapse_window {
                        margin-right: 2%;
                        font-size: 6vw;
                    }
                    p {
                        margin-left: 2%;
                        margin-right: auto;
                    }
                    border-radius: 5px 5px 0px 0px;
                    background-color: rgb(209, 209, 209);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                .innercontent {
                    padding: 2%;
                    border-radius: 0px 0px 10px 10px;
                    display: none;
                    border: 1.5px solid rgb(209, 209, 209);
                    border-top: none;
                    animation: collapse .2s ease-out 1 forwards;
                    ul {
                        margin-left: 4%;
                        li {
                            list-style-type:circle;
                        }
                    }
                }
            }

            .socials {
                padding: 4%;
                display: flex;
                background-color: white;
                justify-content: space-evenly;
                a {
                    margin: auto;
                    opacity: .3;
                    padding: 2%;
                    border: 3px solid black;
                    border-radius: 10px;                        
                    width: 17%;               
                    display: flex;
                    justify-content: center;
                    align-items: center;          
                }
            }

        
            .typeseparator {
                margin-top: 4%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #2c2c2c;
                color: white;
                padding: 2%;
            }

            .arrayoptions {
                background-color: white;
                display: flex;
                flex-direction: column;
                width: 100%;
                .option {
                    .cell {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 3%;
                        border-top: 1px solid rgb(209, 209, 209);
                        background: linear-gradient(180deg,rgba(255, 255, 255, 1) 55%, rgba(224, 224, 224, 1) 100%);
                        h1 {
                            font-size: 6vw;
                            display: flex;
                            flex-direction: column;
                            i {
                                color: gray;
                                font-size: 4vw;
                                font-weight: 300;
                            }
                        }
                        .input {
                            display:flex;
                            flex-direction: column;
                        }
                        p {
                            margin: auto;
                        }
                    }

                }
                .tips {
                    border-top: 1px solid rgb(209, 209, 209);
                    padding: 3%;
                    i {
                        color: gray;
                    }
                }                
                .img {
                    aspect-ratio: 3/1;
                    overflow: hidden;
                    .icons {
                        height: 100%;
                        padding: 2%;
                        display: flex;
                        img {
                            object-fit: contain;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    img {
                        width: 100%;
                        object-fit: contain;
                    }
                    #sugar {
                        translate: 0px -6vh;
                    }
                    
                    #alice {
                        translate: 0px -15vh;
                    }
                }
            }
        }
        .scrollable:last-child {
            padding-bottom: 3%;
        }

        .calc {
            position: sticky;
            display: none;
            background: linear-gradient(180deg,rgba(255, 255, 255, 1) 55%, rgba(224, 224, 224, 1) 100%);
            animation: collapse .2s ease-out 1 forwards;
            border-bottom: 1px solid rgb(165, 165, 165);
            padding: 3%;
            flex-direction: column;
            border-radius: 0px 0px 5px 5px;
            box-shadow: 0px 1px 10px 2px black;
            z-index: 10;
            .values {
                background: linear-gradient(180deg,rgb(27, 27, 27) 0%, rgb(78, 78, 78) 100%);
                margin: 3%;
                padding: 3%;
                overflow: auto;
                display: none;
                flex-direction: column;
                color: white;
                border-radius: 5px;
                height: 50%;
                .calccell {
                    display: flex;
                    font-size: 3vw;
                    justify-content: center;
                    align-items: end;
                    h1 {
                        font-size: 4vw;
                    }
                }
            }
            .total {
                margin: auto;
            }
        }  

        .border {
            z-index: 50;
            position: sticky;
            display: flex;
            flex-direction: column;
            .bdiv {
                color: white;
                display: flex;
                align-items: center;
                width: 100%;
                background: linear-gradient(180deg,rgb(27, 27, 27) 0%, rgb(78, 78, 78) 100%);
                cursor: pointer;
                box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.2) inset;
                padding: 4%;                
            }



            .back, .list {
                color: white;
                font-size: 10vw;
            }
            .list {
                border: none;
                background: none;
            }
            .back {
                margin-left: 3%;
                text-decoration: none;
            }

            #title {
                margin-left: auto
            }
        }
    }
    .bg {
        display: none;
    }
}

@keyframes imgappear {
    from {
        opacity: 0;
        translate: 0px 10px;
    }
    to {
        opacity: 1;
        translate: 0px 0px;
    }
}

@keyframes collapse {
    from {
        translate: 0px -10px;
        opacity: .5;
    }
    to {
        opacity: 1;
        translate: 0px 0px;
    }
}